*{
    box-sizing: border-box;
}

body{
    background-color: rgb(116, 116, 224);
}

#number
{
    display: none;
}

p{
    text-align: center;
    font-size: 48px;
    color: rgb(255, 253, 253);
    font-weight: bold;
    z-index: 2;
}

input{
    display: block;
    width: 80px;
    height: 50px;
    margin: auto;
}

#btns{
    width: 50%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
}

button{
    display: inline;
    font-size: 22px;
    width: 49%;
}

p:nth-of-type(2){
    font-size: 80px;
    font-weight: bolder;
    color: white;
}

